
html {
  overflow: hidden;
}

// cursorurl(cursor1.svg) 4 12;

$link: rgba(5, 24, 66,0.9);

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.dot-animation{
  height: 100vh;
  div#dot-canvas {
    font-size: 0px;
  }
  canvas {
    height: 100%;
    width: 100%;
    background: #070a0f;
    background-image: radial-gradient(#273447, #17202d, #070a0f);
    margin: 0px;
    overflow: hidden;
  }
}

div.dataExperiment {
  position: absolute;
  background: grey;
  width: 100%;

  margin-top: 130px;
  div.innerBlock {
    position: relative;
    background: ghostwhite;
    width: 70%;
    margin: 0 auto;
    min-height: 30vh;
  }
}

nav {
  position: absolute;
  right: 10px;
  display: inline-block;
  span {
    display: inline-block;
    padding: 10px;
    font-size: 11px;
    text-transform: uppercase;
    a {
      color: grey;
      text-decoration: none;
      &:hover{
        color: white;
      }
    }
  }
}

div.error {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
div.navigation {
  position: absolute;
  width: 15px;
  transition: 0.1s ease;
  overflow: hidden;
  div {
    a {
      border-left: 2px solid white;
      line-height: 20px;
      height: 20px;
      // margin-left: 10px;
      // background: $link;
      width: 220px;
      font-size: 12px;
      text-indent: 15px;
      text-transform: uppercase;
      display: block;
      color: #eff1f2;
      text-decoration: none;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
  &:hover {
      width: 220px;
  }
}
div#flare{
  font-size: 0px;
}
div.draw-button {
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #94aab5;
  color:  #94aab5;
  width: 50px;
  position: absolute;
  right: 15px;
  text-align: center;
  font-size: 11px;
  top: 10px;
  &:hover {
    color:  grey;
    border: 1px solid #70828c;
  }
}

div.select-category {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 11px;
  text-align: left;
  display: flex;
  div {
    padding: 5px;
    margin: 3px;
  }
  div.button {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #94aab5;
    color:  #94aab5;
    &:hover {
      color:  black;
      border: 1px solid #70828c;
    }
    &.active {
      color:  white;
      background: #70828c;
    }
  }
  div.title {
    font-weight: 600;
    // margin-top: 4px;
  }
}

div.chord-diagram {
  .group-tick line {
    stroke: #000;
  }

  .ribbons {
    fill-opacity: 1;
  }
  .main-svg {
    margin: 0 auto;
  }
}

div.hierarchical-edge {
  .node, {
    font: 300 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
    cursor: crosshair;
  }

  .category-title {
    font: 600 10.5px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: black;
  }

  .node:hover {
    fill: #000;
  }

  .link {
    stroke: steelblue;
    stroke-opacity: 0.2;
    fill: none;
    pointer-events: none;
  }

  .node:hover,
  .node--source,
  .node--target {
    font-weight: 700;
  }

  .node--source {
    fill: #325cd1;
  }

  .node--target {
    fill: #325cd1;
  }

  .link--source,
  .link--target {
    stroke-opacity: 1;
    // stroke-width: 2px;
  }

  .link--source {
    stroke: $link;
  }

  .link--target {
    stroke: $link;

  }

  text-align: center;
}
div#root {
  // cursor: url("http://www.myiconfinder.com/uploads/iconsets/16-16-52a139814a546134e8b900c26e9786a5.png"), progress;
  cursor: url("http://localhost:3000/cursor.svg"), progress;
  nav {
    span {
      a {
        cursor: url("http://www.myiconfinder.com/uploads/iconsets/32-32-52a139814a546134e8b900c26e9786a5.png"), progress;
      }
    }
  }
}

div.progress-arc {
  background: ghostwhite;
  a {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background: grey;
  }
}

div.similarity-network {
  background: ghostwhite;
  // height: 95vh;
  .node {
    fill: dodgerblue;
    opacity: .75;
  }
  .link {
    stroke: black;
    opacity: .35;
  }

  >div {
    height: 100%;
    width: 100%;
  }
  a {
    cursor: pointer;
    background: grey;
  }
}

canvas {
  // cursor: url(White_circle.png) 4 12, progress;
}
