html {
  overflow: hidden; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

div.dot-animation {
  height: 100vh; }
  div.dot-animation div#dot-canvas {
    font-size: 0px; }
  div.dot-animation canvas {
    height: 100%;
    width: 100%; }

div.error {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; }

div.navigation {
  position: absolute;
  width: 220px; }
  div.navigation div a {
    line-height: 20px;
    height: 20px;
    background: rgba(5, 24, 66, 0.9);
    width: 100%;
    font-size: 12px;
    text-indent: 10px;
    text-transform: uppercase;
    display: block;
    color: #eff1f2;
    text-decoration: none;
    opacity: 0.4; }
    div.navigation div a:hover {
      opacity: 0.9; }

div#flare {
  font-size: 0px; }

div.draw-button {
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #94aab5;
  color: #94aab5;
  width: 50px;
  position: absolute;
  right: 15px;
  text-align: center;
  font-size: 11px;
  top: 10px; }
  div.draw-button:hover {
    color: grey;
    border: 1px solid #70828c; }

div.select-category {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 11px;
  text-align: left;
  display: flex; }
  div.select-category div {
    padding: 5px;
    margin: 3px; }
  div.select-category div.button {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #94aab5;
    color: #94aab5; }
    div.select-category div.button:hover {
      color: black;
      border: 1px solid #70828c; }
    div.select-category div.button.active {
      color: white;
      background: #70828c; }
  div.select-category div.title {
    font-weight: 600; }

div.chord-diagram .group-tick line {
  stroke: #000; }

div.chord-diagram .ribbons {
  fill-opacity: 1; }

div.chord-diagram .main-svg {
  margin: 0 auto; }

div.hierarchical-edge {
  text-align: center; }
  div.hierarchical-edge .node {
    font: 300 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
    cursor: crosshair; }
  div.hierarchical-edge .category-title {
    font: 600 10.5px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: black; }
  div.hierarchical-edge .node:hover {
    fill: #000; }
  div.hierarchical-edge .link {
    stroke: steelblue;
    stroke-opacity: 0.2;
    fill: none;
    pointer-events: none; }
  div.hierarchical-edge .node:hover,
  div.hierarchical-edge .node--source,
  div.hierarchical-edge .node--target {
    font-weight: 700; }
  div.hierarchical-edge .node--source {
    fill: #325cd1; }
  div.hierarchical-edge .node--target {
    fill: #325cd1; }
  div.hierarchical-edge .link--source,
  div.hierarchical-edge .link--target {
    stroke-opacity: 1; }
  div.hierarchical-edge .link--source {
    stroke: rgba(5, 24, 66, 0.9); }
  div.hierarchical-edge .link--target {
    stroke: rgba(5, 24, 66, 0.9); }

div.progress-arc {
  background: ghostwhite; }
  div.progress-arc a {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background: grey; }

div.similarity-network {
  background: ghostwhite; }
  div.similarity-network .node {
    fill: dodgerblue;
    opacity: .75; }
  div.similarity-network .link {
    stroke: black;
    opacity: .35; }
  div.similarity-network > div {
    height: 100%;
    width: 100%; }
  div.similarity-network a {
    cursor: pointer;
    background: grey; }
