body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

div.progress-arc {
  background: ghostwhite; }
  div.progress-arc a {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background: grey; }

div.similarity-network {
  background: ghostwhite; }
  div.similarity-network .node {
    fill: dodgerblue;
    opacity: .75; }
  div.similarity-network .link {
    stroke: black;
    opacity: .35; }
  div.similarity-network > div {
    height: 100%;
    width: 100%; }
  div.similarity-network a {
    cursor: pointer;
    background: grey; }
